<%- include header %>

<div class="col-sm-12">
    <h3 class="year"><%= year %>届毕业生</h3>
    <div class="row">
        <% if (num) {%>
            <% for (var i = 0; i < students.length; i++) { %>
                <div class="col-xs-6 col-sm-4 col-md-5ths">
                    <div class="thumbnail stu-info">
                        <a href="<%= students[i]._id%>/info">
                            <img src="<%= students[i].photo%>" alt="" class="img-responsive img-rounded">
                        </a>
                        <div class="caption">
                            <h4><%= students[i].name %></h4>
                        </div>
                    </div>
                </div>
            <% } %>
        <%} else {%>
            <h3>这个年份没有毕业生哦~</h3>
        <%}%>

    </div>
</div>

<%- include footer %>