<%- include header %>

<% Object.keys(result).reverse().forEach(function (j) {%>

<div class="col-sm-12">
    <h3 class="year"><%= j %>届毕业生</h3>
    <div class="row">
        <% if (num) {%>
            <% for (var i = 0; i < result[j].length; i++) { %>
                <div class="col-xs-6 col-sm-4 col-md-5ths">
                    <div class="thumbnail stu-info">
                        <a href="<%= result[j][i]._id%>/info">
                            <img src="<%= result[j][i].photo%>" alt="" class="img-responsive img-rounded">
                        </a>
                        <div class="caption" style="min-height: 57px;">
                            <% if (result[j][i].name.length > 4) {%>
                                <h5><%= result[j][i].name %></h5>
                            <% } else {%>
                                <h4><%= result[j][i].name %></h4>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <%} else {%>
            <h3>这个年份没有毕业生哦~</h3>
        <%}%>

    </div>
</div>
<% }) %>

<%- include footer %>