<%- include header %>
<style>
    .mid-col {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
</style>
<!--指导老师-->
<% if (typeof(advisor) != "undefined") { %>
    <div class="col-sm-12" style="padding: 20px 0 10px 0; border-bottom: solid gray 0.5px; text-align: center">
        <div class="col-sm-3 mid-col" style="padding: 0;">
            <div class="row">
                <div class="col-sm-12">
                    <a href="<%= teacher.link %>" target="_blank" class="img-thumbnail">
                    <img src="<%= teacher.photo %>" width="140px" class="img-responsive img-rounded center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <h3><%= teacher.name %><%= teacher.title%></h3>
                    <h4><%= teacher.tag %></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-8 mid-col" style="font-size: 16px; text-align: left;">
            <p><%= teacher.info %></p>
        </div>
    </div>
<% } %>

<!--按学位分类-->
<% if (typeof(category) != "undefined") { %>
    <h2 style="text-align: center; padding-bottom: 20px; border-bottom: solid gray 0.5px;">
    <% if (category == 1) { %>
        博士生名录
    <% } else if (category == 2) { %>
        硕士生名录
    <% } else if (category == 3) { %>
        本科生名录
    <% }%></h2>
<% } %>

<% Object.keys(result).reverse().forEach(function (j) {%>

<div class="col-sm-12">
    <h3 class="year"><%= j %>届毕业生</h3>
    <div class="row">
        <% if (num) {%>
            <% for (var i = 0; i < result[j].length; i++) { %>
                <div class="col-xs-6 col-sm-4 col-md-5ths">
                    <div class="thumbnail stu-info">
                        <a href="<%= result[j][i]._id%>/info">
                            <img src="<%= result[j][i].photo%>" alt="" class="img-responsive img-rounded">
                        </a>
                        <div class="caption" style="min-height: 57px;">
                            <% if (result[j][i].name.length > 4) {%>
                                <h5><%= result[j][i].name %></h5>
                            <% } else {%>
                                <h4><%= result[j][i].name %></h4>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <%} else {%>
            <h3>这个年份没有毕业生哦~</h3>
        <%}%>

    </div>
</div>
<% }) %>

<%- include footer %>

<a href="javascript:void(0);" class="go_top"></a>

<script>
$(function() {

    var $goTop = $(".go_top");
    $goTop.addClass("hide");
    $(window).scroll(function() {

        t = $(window).scrollTop();
        if (t > 200) {
            $goTop.removeClass("hide");
        } else {
            $goTop.addClass("hide");
        }
    });
    $($goTop).click(function() { $("body,html").animate({ "scrollTop": 0 }, 500); });
});
</script>