<%- include header %>

<div class="col-sm-12">
    <h3 style="text-align: center">查找结果</h3>
    <div class="row">
        <% if (num) {%>
            <% for (var i = 0; i < students.length; i++) { %>
                <div class="col-xs-6 col-sm-4 col-md-5ths">
                    <div class="thumbnail stu-info">
                        <a href="<%= students[i]._id%>/info">
                            <img src="<%= students[i].photo%>" alt="" class="img-responsive img-rounded">
                        </a>
                        <div class="caption" style="min-height: 57px;">
                            <% if (students[i].name.length > 4) {%>
                                <h5><%= students[i].name %></h5>
                            <% } else {%>
                                <h4><%= students[i].name %></h4>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <%} else {%>
            <h3>没有符合条件的同学哦~</h3>
        <%}%>

    </div>
</div>

<%- include footer %>